<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<h1 class="text-center">Edytuj notatkę</h1>

<form th:action="@{'/edit/' + ${id}}" th:object="${oldNote}" method="post">
    <div class="mx-5 my-1">
        <div class="form-group">
            <input type="text" class="form-control" id="title" th:field="*{title}" th:placeholder="*{title}">
            <textarea class="form-control" th:field="*{content}" th:placeholder="*{content}"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-block"><i class='far fa-save'></i> Zaktualizuj</button>
        <a th:href="@{/}" type="submit" class="btn btn-warning btn-block"><i class='fas fa-angle-double-left'></i> Cofnij</a>
    </div>
</form>


<div th:replace="links::links"></div>
</body>
</html>